.headerr {
    background-color: #212F3C;
    height: 35px;
}

#bla {
    color: #ABB2B9;
    margin-right: 15px;
}

.isar {
    color: white;
    margin-right: 720px;
}

ul {
    line-height: 2em;
    text-align: right;
    margin-right: 170px;
margin-top: 0px ;}

.blll {
    background-color: #1C85EE;
    height: 200px;
    text-align: center;
    line-height: 10em;
    color: white;
    height: 200px;
}

.aaa {
    line-height: 0px;
    margin: -40px;
}

strong {
    font-size: 180%;
    font-family: verdana;
}

.ooo {
    color: #212F3C;
    margin-left: 380px;
    margin-top: 100px;
}

h4 {
    margin-left: 1px;
    margin-right: 380px;
    color: #B3B6B7;
}
body{
    margin:0px;
}